<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="loading" class="button-1">Login</button>
        <div *ngIf="loading" class="loading-indicator">Logging in...</div>
      </div>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>
